In [2]:
import pandas as pd

In [10]:
df = pd.read_excel('svc_points.xlsx')
df.head()

        date  hour  points
0 2022-12-12    22    3360
1 2022-12-11    22      30
2 2022-12-11    22     140
3 2022-12-11    22      80
4 2022-12-11    22      80